################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/news.sitecore/.vs/news.sitecore/v14
