################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/news.sitecore/.vs/news.sitecore/v14
/news.sitecore/.vs/config
/news.sitecore/news.sitecore/App_Data/MediaCache/website/141
/news.sitecore/news.sitecore/bin
/news.sitecore/news.sitecore/obj/Debug
/news.sitecore/news.sitecore.TDS.master/bin
/news.sitecore/news.sitecore.TDS.master/obj/IconCache
/news.sitecore/packages
